box()
  padding: 10px !important
  margin-bottom: 10px
  
//==============================================================================
// img
//==============================================================================
box_img(img)
  padding: 10px !important
  margin-bottom: 10px
  background-image: url(img)

//==============================================================================
// accordion
//==============================================================================
.box_accordion
  .trigger
    display: block
  .contents
    display: none

