#webCustomizerArea
  top: 100 px
  z-index: 1000
  position: fixed
  
  now_top = 200
  top_add = 30
  #dataChanger
    top: now_top px
  now_top += top_add
  #optionChanger
    top: now_top px
  now_top += top_add
  #colorSchemeChanger
    top: now_top px
  now_top += top_add
  #cssChanger
    top: now_top px
  now_top += top_add

.webCustomizer
  position: absolute
  z-index: 1000
  
  table
    text-align: left
  
  .fixed
    width: 30px
    height: 30px
    background-color: #000
    position: fixed
    pos_align-horInline()
    
    i
      width: 30px
      color: red
  
  .contents
    pos_align-horInline()

    .headerArea
      height: 50px
      background-color: #000
      color: #fff
      z-index: 1001
      text-align: left
      padding-left: 35px
      
      input, select
        color: #000
      
    .inline
      display: inline
    .displayNone
      display: none
      
    .contentsArea
      pos_align-horInline()
      max-width: 1000px
      min-width: 400px
      max-height: 400px
      overflow-y: scroll
      background-color: #ccc

      .setterArea
        border: solid 1px #000
      
        .trigger
          color: white
          font-size: 17px
          background-color: #333
        
        .contents
          padding: 10px
          color: black
          background-color: #ccc
          .sub
            color: red

          .slider
            margin-left: 10px
            margin-right: 10px
            width: 200px
            display:inline-block
