//-----------------------------------------------------------------------------
//- bg
//-----------------------------------------------------------------------------
mixin js_effect_bg_color(color)
  script.
    //$("#contents").css("background-color", "#{color}");