//-============================================================================
//- debug
//-============================================================================
-debug = true

//-============================================================================
//- path
//-============================================================================
//-----------------------------------------------------------------------------
//- root
//-----------------------------------------------------------------------------
-path_webRoot = "./"

//-----------------------------------------------------------------------------
//- img
//-----------------------------------------------------------------------------
-path_img = path_webRoot + "src/img/"
-path_img_bootstrap = path_img + "plugins/bootstrap/"
-path_img_brand = path_img + "common/logo.png"
-path_loadImg = path_img + "system/loading/load.gif"

//-----------------------------------------------------------------------------
//- import
//-----------------------------------------------------------------------------
-path_css = path_webRoot + "code/css/"
-path_js = path_webRoot + "code/js/"
-path_plugin = "src/plugins/"

//-============================================================================
//- common
//-============================================================================
//-----------------------------------------------------------------------------
//- meta default
//-----------------------------------------------------------------------------
-meta = {}
-meta["title"] = "プロトタイプ"
-meta["keywords"] = "none"
-meta["description"] = "none"

//-----------------------------------------------------------------------------
//- pagelist default
//-----------------------------------------------------------------------------
-nav_page_list=[]
-nav_page_list.push({name:"Home", link:path_webRoot + "index.html", icon:"home"})

//-============================================================================
//- include
//-============================================================================
include ./_plugin

//-============================================================================
//- mixin
//-============================================================================
//-----------------------------------------------------------------------------
//- copyRight
//-----------------------------------------------------------------------------
mixin setCopyRight(name, year)
  -param_copyRight = "© " + name + " since " + year + " All Rights Reserved."
