//==============================================================================
// primary
//==============================================================================
@charset "utf-8"

//==============================================================================
// path
//==============================================================================
path_img = "../../src/img/"

//==============================================================================
// img
//==============================================================================
img_bgList = {
  body:{
    imgflag: true
    path: path_img + 'bg/body.png'
  }
  contents:{
    imgflag: true
    path: path_img + 'bg/contents.png'
  }
}

//==============================================================================
// const
//==============================================================================
displaySizeList = 0, 768, 992, 1200
icon-padding-right = 7