.tooltip-inner
  white-space:pre
  max-width:none
//=============================================================================
// header
//=============================================================================
.glyphicon
  margin-right: icon-padding-right px