//=============================================================================
// main
//=============================================================================
.fa
  margin-right: icon-padding-right px