//==============================================================================
// bg
//==============================================================================
img_bg(key)
  if img_bgList[key].imgflag
    background-image: url(img_bgList[key].path)
