//==============================================================================
// family
//==============================================================================
text_family-Mincho()
  font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif

text_family-Gothic()
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif

text_family-Bevan()
  font-family: 'Bevan', serif

//==============================================================================
// shadow
//==============================================================================
text_shadow_drop()
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5)

text_shadow_letter()
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4), 1px 1px 1px rgba(255, 255, 255, 0.5)

text_shadow_emboss()
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6), -1px -1px 1px rgba(255, 255, 255, 0.5)

text_shadow_softEmboss()
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3)

text_shadow_floating()
  text-shadow: 0 15px 10px rgba(0,0,0,0.5)

text_shadow_embossFloating()
  text-shadow: 0 15px 10px rgba(0,0,0,0.5), 1px 1px 1px rgba(0, 0, 0, 0.6), -1px -1px 1px rgba(255, 255, 255, 0.5)

text_shadow_double()
  text-shadow: 2px 2px 0px #939393, 4px 4px 0px #1c1c1c

text_shadow_outline()
  text-shadow: -1px -1px 0px #000, 1px -1px 0px #000, 1px 1px 0px #000, -1px 1px 0px #000

text_shadow_outlineDrop()
  text-shadow: -1px -1px 0px #5c5c5c, 1px -1px 0px #5c5c5c, 1px 1px 0px #5c5c5c, -1px 1px 0px #5c5c5c, 1px 2px 3px rgba(0, 0, 0, 0.6)

text_shadow_outlineBlock()
  text-shadow: -1px -1px 0px #5c5c5c, 1px -1px 0px #5c5c5c, 1px 1px 0px #5c5c5c, -1px 1px 0px #5c5c5c, -1px 0px #2f2f2f, 0px -1px #2f2f2f, 1px -2px #2f2f2f, 2px -3px #2f2f2f, 3px -4px #2f2f2f, 4px -5px #2f2f2f, 5px -6px #2f2f2f, 0px 1px #2f2f2f, 1px 0px #2f2f2f, 2px -1px #2f2f2f, 3px -2px #2f2f2f, 4px -3px #2f2f2f, 5px -4px #2f2f2f, 6px -5px #2f2f2f, 7px -6px #2f2f2f, 8px -7px #2f2f2f

text_shadow_block()
  text-shadow: 1px 0px #2f2f2f, 0px -1px #2f2f2f, 1px -2px #2f2f2f, 2px -3px #2f2f2f, 3px -4px #2f2f2f, 4px -5px #2f2f2f, 5px -6px #2f2f2f, 0px 1px #2f2f2f, 1px 0px #2f2f2f, 2px -1px #2f2f2f, 3px -2px #2f2f2f, 4px -3px #2f2f2f, 5px -4px #2f2f2f, 6px -5px #2f2f2f

text_shadow_growing()
  text-shadow: 0 0 25px #edf8ff, 0 0 20px #edf8ff, 0 0 0.40px #edf8ff

text_shadow_backLight()
  text-shadow: -1px -1px 0px #5c5c5c, 1px -1px 0px #5c5c5c, 1px 1px 0px #5c5c5c, -1px 1px 0px #5c5c5c, 0px 0px 25px rgba(97, 97, 97, 0.7), 0px 0px 20px rgba(97, 97, 97, 0.7)

text_shadow_fade()
  text-shadow: 2px 8px 6px rgba(0,0,0,0.9), 0px -5px 35px rgba(255,255,255,0.3)

text_shadow_blot()
  text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5), -4px 4px 1px rgba(0, 0, 0, 0.6), 4px -4px 1px rgba(0, 0, 0, 0.6), -4px -4px 1px rgba(0, 0, 0, 0.5)

text_shadow_3d()
  text-shadow: 0 1px 0 #222, 0 2px 0 #5e5e5e, 0 3px 0 #111, 0 4px 0 #5e5e5e, 0 5px 0 #000, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15)

text_shadow_retro()
  text-shadow: 2px 2px 0px #3b3b3b, 3px 3px 0px #616161

text_shadow_blur()
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5)

