//-----------------------------------------------------------------------------
//- box
//-----------------------------------------------------------------------------
mixin box(imgPath)
  -imgPath = imgPath || ""
  .box