//-============================================================================
//- com text
//-============================================================================
//-----------------------------------------------------------------------------
//- dateInfo
//-----------------------------------------------------------------------------
mixin comText_dateInfo()
  .comText_dateInfo
    .date
      ="YYYY/MM/DD"
    .text
      ="更新情報ああああああああああああああああああああああああ"