//==============================================================================
// base
//==============================================================================
html
  width: 100%
  height: 100%
  overflow-y: scroll

body
  width: 100%
  height: 100%
  font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif

a:hover
  text-decoration: none

#transition
  width: 100%
  height: 100%
  // display: none
  
//==============================================================================
// contents
//==============================================================================
#contents
  min-height: 100%
  height: auto !important

//==============================================================================
// footer
//==============================================================================
footer
  .footeLinkArea
    margin-bottom: 10px
    .name
      border-bottom: double 1px #777
      margin-bottom: 5px
    
  .footer
    height: 50px
    margin-top: 20px
  
  #copyright
    text-align: center