//==============================================================================
// main
//==============================================================================
.com_box
  padding: 10px !important
  margin-bottom: 10px
  
//==============================================================================
// img
//==============================================================================
.com_box_img
  @extend .com_box
  background-image: url("")
  
//==============================================================================
// color
//==============================================================================
.com_box_color
  @extend .com_box
  