//- path
-localPath = {}
-localPath.root = ""
-localPath.img = localPath.root + "src/img/"
-localPath.css = localPath.root + "src/css/"
-localPath.js = localPath.root + "src/js/"

-webSrcPath = {}
-webSrcPath.root = "webSrc/"
-webSrcPath.plugin = webSrcPath.root + "plugins/"
-webSrcPath.img = webSrcPath.root + "img/"

//- file
-webSrcFile = {}
-webSrcFile.img = {}
-webSrcFile.img.loading = webSrcPath.img + "loading.gif"
